SUPABASE_DB_URL=
SUPABASE_KEY=

OPENROUTER_API_KEY=
MODEL_NAME=

VDAB_CLIENT_ID=
VDAB_CLIENT_SECRET=
VDAB_IBM_CLIENT_ID=
VDAB_ENV=production

DAILY_SYNC_ENABLED=true
DAILY_SYNC_CRON=0 10 * * *
DAILY_SYNC_TIMEZONE=Europe/Brussels
DAILY_SYNC_RUN_ON_STARTUP=true

MAX_SEARCH_VACANCIES_PER_REQUEST=100
LOG_LEVEL=INFO

HISTORICAL_START_DATE=2025-06-24
VDAB_POSTCODES=2000,2018,2020,2030,2040,2050,2060,2100,2130,2140,2150,2170,2180,2600,2610,2660
VDAB_EXPERIENCE_CODES=1,2,3
VDAB_JOB_DOMAIN=JOBCAT10
